body{
    background-color:rgb(230,230,230);
    width:80%; 
    margin:0 auto; 
    display: relative;
}
*{
    text-decoration: none;
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
a{
    display:block;
}
.banner>a>img{
    width:100%;
    max-width:100%;
}
.header{
    background-color: #f8f8f8;  
    max-width:100%;  
}
.container
{
    display:flex;
   
    justify-content: space-between;
}
.left-header{
    width:20%;
}
.left-header img{
    margin:auto 0;
    width:100%;
    height:100%;
}
.mid-header{
    width:40%;
    margin:auto 20px;
    height:50%;
    display:flex;
}
.mid-header input{
    border: none;
    width:90%;
    outline: none;
    padding:10px;

}
.mid-header button{
    background-color: white;
    padding:10px;
    width:10%;
    border:none;
}
.right-header{
    display:flex;
    flex-grow:1;
    margin:auto;
}
 .item-menu {
    margin:auto;
}
.item-menu a{
    color:black;
    padding:10px;  
    text-align: center;
    transition: transform 0.3s;
}
.item-menu a:hover{
    color:orange;
    transform: translateY(-5px);
}
.contacts{
    background-color: green;
}
.contact{
    display:flex;
    justify-content: space-between;
}
.contact{
    color:white;
}
.left-contact{
    width:20%;
}
.left-contact ul{
    padding:10px;
    display:flex;
    justify-content: space-between;
}
.right-contact ul{
    display:flex;
    justify-content: flex-end;
    padding:10px;
}
.right-contact ul>li{
    border-right:2px solid;
}
.right-contact ul>li:last-child{
    border:none;
}
/* phần chính */

/* Danh mục */
.category{
    border: 1px solid;
    width:20%;
}
.category-list li{
    padding:10px 0 10px 3px;
    position: relative;
}
.category-list li:not(:last-child){
    border-bottom: 1px dotted;
}
.bottom-category:hover a{
    color:black
}
.top-category a{
    font-weight: bold;
    padding-left:5px;
}
.top-category i{
    position:absolute;
    right:7px;
}
.bottom-category a{
    transition:all 0.3s ease;
    color:#888888;
    padding-left:10px;
}
.main-container{
    display: flex;
    background-color: #f8f8f8;
}
.product-container{
    margin:30px 0;
    padding:20px;
    width:80%;
}
.product-content{
    display:flex;
}
.product{
    width:25%;
    padding:10px;
    text-align: center;
}
.name{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.4em;
    margin: 5px 0;
}
.writer a{
    color:rgb(34, 135, 34);
    padding-bottom:5px;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color:orange;
}
.prices{
    display:flex;
    justify-content: center;
}
.raw-price{
    padding:0 5px;
    text-decoration: line-through;
    font-size: 13px;
}
.offer{
    background-color: red;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size:15px;
    padding:3px;
}


/* footer */
footer{

    display:flex;
    margin-top:20px;
    padding:20px 0;
    background-color: white;
}
.left-footer{
    width:35%;
    padding:10px;
    border-right:1px solid;
}
.left-footer ul{
    display:flex;
}

.left-footer>img{
    width:50%;
    padding:5px;
    display:block;
}
.right-footer{
    width:65%;
}
.operating-systems img{
    width:100%;  
}
.operating-systems li{
    width:25%;
    padding-left:5px
}
.functions,.payment,.ship {
    display:flex;
    justify-content:space-around ;
}
.functions>li{
    padding: 0 20px;
}
.sub-function a{
    padding:15px 0;
    text-decoration: solid;
}   
.payment li{
    width:20%;
}
.payment img{
    width:100%;
}
.ship li{
    width:10%;
    text-align: center;
}
.ship a{
    margin:auto;
}
.ship img{
    width:100%;
}
