body{
    margin:0px;
    padding:0px;
    background-color:lightgrey;
}

.banner img{
    height:100%;
    width:100%;
}
.banner a{
    display:block;
}
.nav{
    background-color: white;

}
.nav>div{
    width:80%;
    margin:0 auto;
    display:flex;
}
.logo{
    width:20%;
    margin:auto;
} 
.logo a{
    display:block;
}
.logo img{
    width:100%;
}

.flex-nav{
    display:flex;
    padding:0;
}
.flex-nav>li{
    list-style-type: none;
    text-align: center;
}
.flex-nav>li>a{
    text-decoration: none;
    display:block;
    padding:3px;
}
.search-box{
   margin:auto;
    width:50%;
    text-align: center;
    flex-grow: 2;
}
.search-box input{
    height:50%;
    width:70%;
}

